
<h2><%= @project.title %></h2>
<br>
<h5><b>ID: </b><%= @project.id %></h5>
<h5><b>Description: </b><%= @project.description %></h5>
<h5><b>Creation Time: </b><%= @project.created_at %></h5>

<br>

<% if current_user.role == 'manager' %>
	<%= link_to "Edit project ", edit_project_path(@project) %>|
	<%= link_to "Delete project", project_path(@project), method: :delete, data: { confirm: "Are you Sure" },class:'reder' %>

<% end %>

<hr class="drawline">
<h4>BUGS in this Project</h4>
<table style="width:100%">
	<tr>
		<th>Bug ID</th>
		<th>Bug title</th>
		<th>Deadline</th>
		<th>Screen Shot</th>
		<th>type</th>
		<th>status</th>
		<th>created_at</th>
		<th>founder id</th>
		<th>Actions</th>
	</tr>

	<% @bugs.each do |bug| %>

		<tr>
			<td><%= bug.id %></td>
			<td><%= bug.title %></td>
			<td><%= bug.deadline %></td>
			<td><%= image_tag bug.screenshot_url(:thumb).to_s %></td>
			<td><%= bug.bug_type %></td>
			<td><%= bug.status %></td>
			<td><%= bug.created_at %></td>
			<td><%= bug.founder_id %></td>
			<td><%= link_to "Show Bug ", project_bug_path(@project.id,bug), class: 'whiter' %></td>

		</tr>
		  
	<% end %>

</table>

<% if current_user.role == 'qa' %>
	<%= link_to "Add new Bug", new_project_bug_path(@project) %> 
<% end %>

<% if current_user.role == 'manager' %>
	<hr class="drawline">
	<h4>Available People</h4>

	<table style="width:100%">
		<tr>
			<th>User ID</th>
			<th>Email</th>
			<th>Name</th>
			<th>User joining date</th>
			<th>Role</th>
			<th>Action</th>
		</tr>

		<% @users.each do |user| %>
			<!-- if (!@project.users.include? user) && !(user.role == 'manager')%>-->
				<tr>
					<td><%= user.id %></td>
					<td><%= user.email %></td>
					<td><%= user.username %></td>
					<td><%= user.created_at %></td>
					<td><%= user.role %></td>
					<td><%= link_to "Add this User", user_assign_path(@project.id,user.id), class: 'whiter', method: :post %></td>

 				</tr>
			<!-- end %>-->
				  
		<% end %>

	</table>

<% end %>
