<%= form_for [@project, @bug], :html => {:multipart => true} do |f| %>
	<% if @bug.errors.any? %>
		<h2>Errors</h2>
		<ul>
			<% @bug.errors.full_messages.each do |message| %>
				<li><%= message%></li>
			<% end %>
		</ul>
	<% end %>
	<% if current_user.role != 'developer' %>
	  <div class="row">
	    <div class="form-group col-md-4">
	    <%= f.label :title%><br>
		<%= f.text_field :title, autofocus: true, class: "form-control" %><br>
	    </div>
	  </div>


	  <div class="row">
	    <div class="form-group col-md-4">
	    <%= f.label :deadline%><br>
		<%= f.date_select :deadline,{:order => [:year, :month, :day]}, autofocus: true %><br>
	    </div>
	  </div>
	<% end %>
  

	  <div class="row">
	    <div class="form-group col-md-4">
	    <%= f.label :bug_type%><br>
		<%= f.select :bug_type, ['bug','feature', ], id: "type", class: "form-control"%><br>
	    </div>
	  </div>
	
	  <div class="row">
	    <div class="form-group col-md-4">
	    <%= f.label :status%><br>
		<%= f.select :status, ['new', 'started', 'completed'], id: "btype", class: "form-control"%><br>
	    </div>
	  </div>

	<% if current_user.role != 'developer' %>

	  <div class="row">
	    <div class="form-group col-md-4">
	    <%= f.label :screenshot%><br>
		<%= f.file_field :screenshot%><br>
	    </div>
	  </div>

	 <% end %>





	<%= f.submit %>
<% end %>


