<h2><%= @bug.title %></h2>
<br>
<h5><b>Status </b><%= @bug.status %></h5>
<h5><b>ID: </b><%= @bug.id %></h5>
<h5><b>Creation Time: </b><%= @bug.created_at %></h5>

<h5><b>Deadline: </b><%= @bug.deadline %></h5>
<h5><b>ScreenShot: </b></h5>
<%= image_tag @bug.screenshot_url.to_s %>
<h5><b>Type: </b><%= @bug.bug_type %></h5>
<h5><b>Project: </b><%= Project.find(@bug.project_id).title %></h5>
<h5><b>Founder: </b><%= User.find(@bug.founder_id).username %></h5>
<%if @bug.user %>
	<h5><b>Asigned To: </b><%= @bug.user.username %></h5>
<% end %>

<hr class="drawline">

<% if current_user.role == 'qa' || (current_user.role == 'developer' && @bug.user == current_user) %>
	<%= link_to "Edit Bug ", edit_project_bug_path(@project.id, @bug.id) %>|


<% end %>


<% if current_user.role == 'qa' %>

	<%= link_to "Delete Bug", project_bug_path(@project.id, @bug.id), method: :delete, data: { confirm: "Are you Sure" },class:'reder' %>

<% end %>
<%= link_to "| back", project_url(@bug.project_id) %>
<% if current_user.role == 'developer' && !@bug.user  %>
	<%= button_to 'Assign this Bug to yourself', bug_assign_path, method: :post %>

<% end %>